<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995907950429-lhvkhn8d088r9r6rusham9bhukb3sh7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995907950429-lhvkhn8d088r9r6rusham9bhukb3sh7e</string>
	<key>API_KEY</key>
	<string>AIzaSyAUN3hdko0NClYMGxBMfr0TCSFWtbtX69g</string>
	<key>GCM_SENDER_ID</key>
	<string>995907950429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.sasmazo.wasteagram2</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-so</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-so.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995907950429:ios:a6de71f7051917d2853ab4</string>
	<key>DATABASE_URL</key>
	<string>https://wasteagram-so.firebaseio.com</string>
</dict>
</plist>